.container {
  padding: 0 2rem;
}

.welcome {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px 0;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background: #2b2a2a;
  width: 100%;
  max-width: 320px;
  height: 220px;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  margin-bottom: 30px;
  text-align: left;
  color: white;
}

.cardContent {
  flex: 1;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #b2b2b2;
}

.cardButton {
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  background: #3d00b7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.5s ease;
}

.cardOutlinedButton {
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  border: 2px solid red;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cardOutlinedButton:hover {
  background: red;
  color: white;
}
